<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <transmission name="world_medium_to_supportX_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="world_medium_to_supportX">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="world_medium_to_supportX_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="supportX_to_supportY_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="supportX_to_supportY">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="supportX_to_supportY_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="supportY_to_car_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="supportY_to_car">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="supportY_to_car_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

</robot>