<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <transmission name="trans01">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}base_x">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor01">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans02">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}x_y">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor02">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans03">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}y_car">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor03">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="trans1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_a1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_a2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor2">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_a3">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor3">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_a4">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor4">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_a5">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor5">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_a6">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor6">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="trans7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_a7">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor7">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>